.class{
    justify-items: center;
    justify-content: center;
    margin: 10px;
    background-color: aqua;
    position: absolute;
    top: 35vh;
    left: 40vw;
    border-radius: 5px;
    border: 5px solid red;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: blue;
    color: azure;
    cursor: pointer;
    font-size: 16px;
}
.sas{
    width: 97%;
    border-radius: 2px;

}
.form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(30, 221, 13, 0.1);


}