/* Universal Selector */
*{
    font-family: 'Times New Roman', Times, serif;
}
/* Element Selector */
h1{
    color: blue;
}
body{
    background-color: aliceblue;
}
/* Class Selector */
.form{
    border: 2px solid rgb(122, 122, 122);
    padding: 20px;
    margin:300px;
    border-radius: 12px;
    box-shadow: 20px;
}
/* ID Selector */
#pw{
    color: red;
}
input[type=submit],input[type=reset]{
    background-color: blue;
    color:white;
    border: none;
    border-radius: 8px;
    padding: 8px;
}
